.col-sm-1{
    margin-left: -85%;
    margin-top: -178px;
}
/* .form-control[type=text] {
  
    box-sizing: border-box; 
  }
  
.form-control[type=text]:focus {
    border: 1px solid  #13255b;
  }
#form-control1{
    box-sizing: border-box; 
}

.form-control1[type=text]:focus {
  border: 1px solid  #13255b;

} */